<div class="w-full h-full bg-pattern flex flex-col items-center justify-center">
  <div class="card overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/grupopm_ch.png">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Sistema Mesa de validación</h2>
      <h4 class="body-2 text-secondary m-0 px-1">Ingrese su correo para recuperar su contraseña</h4>
    </div>

    <div [formGroup]="form" class="p-6 flex flex-col gap-4">
      <div class="flex flex-col">
        <mat-form-field class="flex-1">
          <mat-label>Usuario</mat-label>
          <input formControlName="user" matInput required>
          <mat-error *ngIf="form.get('user').hasError('required')">El usuario es requerido</mat-error>
          <mat-error *ngIf="form.get('user').hasError('email')">Ingrese un correo válido</mat-error>
        </mat-form-field>
      </div>

      <button [disabled]="form.invalid" (click)="login()" color="primary" mat-raised-button type="button">
        Recuperar contraseña
      </button>


    </div>
  </div>
</div>
