
<div class="flex items-center " style="border: none !important" mat-dialog-title >
  <h2 class="headline m-0 flex-auto">Periodos del proceso <b>{{this.procesoModel.nombre}}</b></h2>
  <button></button>
  <!-- <mat-icon  svgIcon="mat:help" matTooltip="El grupo de opciones funciona como un alias o una etiqueta para una lista de opciones."></mat-icon> -->
  <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon svgIcon="mat:close"></mat-icon>
  </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>
<mat-dialog-content class="px-1">
  <div class="card overflow-auto mt-2">
    <div
      class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center"
    >
      <h2
        class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l sm:block flex-none"
      >
        Lista de periodos
      </h2>
      <!--  <div class="bg-foreground rounded-full border px-4 max-w-[300px] flex-auto flex items-center border border-gray-300">
              <mat-icon class="icon-sm text-secondary" svgIcon="mat:search"></mat-icon>
              <input
                  class="px-4 py-2 border-0 outline-none w-full bg-transparent"
                  placeholder="Buscar..."
                  type="search">
          </div> -->
      <span class="flex-1"></span>
      <button
        (click)="openModalPeriodo(null)"
        *ngIf="this.permiso_Agregar_periodo"
        class="ml-4 flex-none"
        color="primary"
        mat-mini-fab
        matTooltip="Agregar periodo"
        type="button"
      >
        <mat-icon svgIcon="mat:add"></mat-icon>
      </button>
    </div>
    <table [dataSource]="this.dataSource" class="w-full" mat-table matSort>
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Nombre
        </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="Nombre">
          <div >
            {{ row.nombre }}
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="inicio">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          F. Inicio
        </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="inicio">
          <div >
            {{ row.inicio | date: 'yyyy/MM/dd' }}
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="fin">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          F. Fin
        </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="fin">
          <div >
            {{ row.fin | date: 'yyyy/MM/dd' }}
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Acción
        </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="Acción">
          <div class="flex justify-center">
            <a
              (click)="openModalDocumentos(row)"
              *ngIf="this.permiso_Listar_periodo_documento"
              matTooltip="Ver documentos"
              class="w-10 h-10 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary/10 mr-2"
              mat-icon-button
            >
              <mat-icon class="icon-sm" svgIcon="mat:file_copy"></mat-icon>
            </a>
            <a
              (click)="openModalProyectos(row)"
              *ngIf="this.permiso_Listar_periodo_proyecto"
              matTooltip="Ver proyectos"
              class="w-10 h-10 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary/10 mr-2"
              mat-icon-button
            >
              <mat-icon class="icon-sm" svgIcon="mat:view_carousel"></mat-icon>
            </a>
            <a
              (click)="openModalPeriodo(row)"
              *ngIf="this.permiso_Actualizar_periodo"
              matTooltip="Editar periodo"
              class="w-10 h-10 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary/10 mr-2"
              mat-icon-button
            >
              <mat-icon class="icon-sm" svgIcon="mat:edit"></mat-icon>
            </a>
            <a
              (click)="eliminarPeriodo(row)"
              matTooltip="Eliminar periodo"
              *ngIf="this.permiso_Eliminar_periodo"
              class="w-10 h-10 leading-none flex items-center justify-center hover:bg-hover text-primary bg-primary/10 mr-2"
              mat-icon-button
            >
              <mat-icon
                class="icon-sm"
                svgIcon="mat:delete_forever"
              ></mat-icon>
            </a>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: visibleColumns"> </mat-row>
    </table>
    <div
      *ngIf="this.Periodos.length == 0"
      class="flex-auto items-center justify-center"
    >
      <h1 class="m-10 headline2" style="text-align: center">
        No se encontraron Periodos registrados
      </h1>
    </div>
    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
  </div>
</mat-dialog-content>


