<form role="form" autocomplete="off" [formGroup]="formResponsablePartida" novalidate>
  <div class="flex items-center " style="border: none !important" mat-dialog-title >
    <h2 class="headline m-0 flex-auto">{{this.responsablePartidaModel.id > 0 ? 'Editar responsable ' : 'Agregar responsable '}} <b>{{this.responsablePartidaModel.nombre}}</b></h2>
    <button></button>
    <!-- <mat-icon  svgIcon="mat:help" matTooltip="El grupo de opciones funciona como un alias o una etiqueta para una lista de opciones."></mat-icon> -->
    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>
  <mat-divider class="-mx-6 text-border"></mat-divider>
  <mat-dialog-content class="px-1 ">
    <div class="mt-4 flex flex-col gap-2  m-2">
      <div class="flex flex-col sm:gap-4">
        <mat-form-field class="flex-auto">
          <mat-label>Responsable de la partida</mat-label>
          <mat-select formControlName="responsable">
            <mat-option *ngFor="let usuario of listaUsuarios" [value]="usuario.id">{{usuario.nombre}}</mat-option>
          </mat-select>
          <mat-error *ngIf="this.responsable.hasError('required')"> El campo es requerido</mat-error>
        </mat-form-field>
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <!-- <button type="button" mat-button (click)="close(false)">Cancelar</button> -->
    <button type="button" mat-button mat-dialog-close>Cancelar</button>
    <button type="submit" mat-flat-button color="primary" (click)="guardarResponsable()" [disabled]=" formResponsablePartida.invalid ">{{this.responsablePartidaModel.id > 0 ? 'Editar' : 'Agregar'}}</button>
  </mat-dialog-actions>

  </form>
